/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-main {
    max-width: 1000px;
    margin: 0 auto;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

/* MAIN */
/* TITLE */

.section-title {
    padding: 30px 0px;
}

.row-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row-subsection-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row-subsection-title .row-subsection-title {
    justify-content: center;
}

/* CARDS */

.row-cards {
    display: flex;
    flex-wrap: wrap;
}