/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.page-main {
    max-width: 1000px;
    margin: 0 auto;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}


/* HEADER */

.page-header {
    background-color: #FF6900;
    color: white;
}

.page-header .row-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 80px;
    align-items: center;
}

.categories-section {
    display: flex;
}

.category {
    line-height: 80px;
    padding: 0px 5px;
}

.logo img {
    height: 35px;
    display: block;
}


/* MAIN */

/* TITLE */

.section-title {
    padding: 20px 0px;
}

.row-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row-subsection-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    font-weight: 900;
}

.subsection {
    font-weight: 600;
}


/* CARDS */

.row-cards {
    display: flex;
    flex-wrap: wrap;
}

.col-33 {
    width: calc(4 * 100% / 12);
}

.card {
    padding: 20px 10px;
}    

.card-description {
    border: 1px solid #E9E9E9;
    margin-top: -4px;
    padding: 10px;
}    

.card-price {
    color: red;
}

.old-price {
    text-decoration-line: line-through;
}
/* FOOTER */

.page-footer {
    background-color: #1A1A1A;
    color: white;
}

.section-footer {
    display: flex;
    margin-top: 50px;
}

.subsection-footer {
    display: flex;
    justify-content: center;
}

.category-informations {
    display: flex;
}

.page-footer .row-footer {
    height: 80px;
}

.informations {
    line-height: 20px;
    padding: 0px 10px;
}